* {
	box-sizing: border-box;
	transition: ease all 1s;
}

body {
	margin: 10px;
	background-color: #ffddd2;
	border: 5px solid white;
}

img {
	object-fit: fill;
	width: 200px;
	border-radius: 3px;
	padding: 10px;
}

.cone {
	display: flex;
	justify-content: center;
	align-items: center;
	animation-name: dropdown, rotate;
	animation-duration: 1s, 2s;
	animation-delay: 0s, 2s;
}

.welcome-container,
.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	padding: 10px;
}
.enter-here {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-family: "Pacifico", cursive;
	animation: fadeinlong 4s;
}
.main-icecream {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ice-site {
	font-size: 3rem;
	font-family: "Pacifico", cursive;
}
h1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-family: "Pacifico", cursive;
	animation: fadein 1s;
}

a {
	text-decoration: none;
	color: black;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dropdown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0%);
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-45deg);
	}
	75% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes fadeinlong {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
